

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [2]:
x= []
print(x)

[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [3]:
y = list(['My name is Winnie' , 'Am 29yrs old' , 'Am from Kenya' , 'I love python', 5.8, 2579, 3359])
print(y)

['My name is Winnie', 'Am 29yrs old', 'Am from Kenya', 'I love python', 5.8, 2579, 3359]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [4]:
len(y)

7

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [5]:
print(y[0],y[(int((len(y)-1)/2))],y[-1])

My name is Winnie I love python 3359

# **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [18]:
mixed_data_types = ['Winnie', 29 , 5.9, 'married', 'P.o Box 679-Mombasa']
print(mixed_data_types)

['Winnie', 29, 5.9, 'married', 'P.o Box 679-Mombasa']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [6]:
it_companies= ['Facebook' , 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle','Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [7]:
#number of companies

len(it_companies)

7

In [8]:
print(it_companies[0],it_companies[int((len(it_companies)/2)-1)],it_companies[-1])

Facebook Microsoft Amazon

In [9]:
it_companies[0]= 'Mackbook'
print(it_companies)

['Mackbook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [10]:
it_companies.insert(2,'igah')
print(it_companies)

['Mackbook', 'Google', 'igah', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [11]:
it_companies.insert(int((len(it_companies)-1)/2),'ig')
print(it_companies)

['Mackbook', 'Google', 'igah', 'ig', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [12]:
print(it_companies[2].upper())

IGAH

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [13]:
front_end = ['HTML', 'css', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express','MongoDB']

print(front_end + back_end)

['HTML', 'css', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [10]:
#sort the list and find the minimum and maximum age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
x= min(ages)
y= max(ages)
print(x)
print(y)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [22]:
#Add the minimum age and maximum age to the list again
ages.extend([19,26])
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 19, 26, 19, 26, 19, 26]

In [17]:
#Find the median age(one element in the middle or two elements in the middle divided b
from statistics import median
ages= [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 19, 26, 19, 26]

print(median(ages))

24.0

In [20]:
#Find the average age (sum of all items divided by their number).
average= sum(ages)/len(ages)

print(average)

22.6875

In [27]:
#Find the interval of ages(max minus min)
x = min(ages)
y = max(ages)
interval= y-x

print(interval)

7

In [24]:
#Compare the values of (min - mean) and (max - mean) using the abs () method.

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [16]:
#Create an empty dictionary called dog
dog={}

In [19]:
#Add name, color, breed, legs, age to the dog dictionary.
dog= {"Rex","Brown","German_Shepherd",4 }
print(dog)

{'German_Shepherd', 4, 'Rex', 'Brown'}

In [41]:
#Create a student dictionary and add the first name, last name, gender, age, marital status, skills, country, city and address as keys for the dictionary.
student={"name": "Winnie","lname": "Yaa","Gender": "Female","age":"29","Mstatus":"Married","Skills":"Motorbike","country":"Kenya","City":"Mombasa"}

print(student)

{'name': 'Winnie', 'lname': 'Yaa', 'Gender': 'Female', 'age': '29', 'Mstatus': 'Married', 'Skills': 'Motorbike', 'country': 'Kenya', 'City': 'Mombasa'}

In [42]:
# Get the length of the student dictionary
len(student)

8

In [43]:
#Get the skill value and check the data type, it should be a list.
print(student["Skills"])

Motorbike

In [44]:
#Change the skill values by adding one or two skills.
print(type("Skills"))

<class 'str'>

In [51]:
#Get dictionary keys as a list
{'name': 'Winnie', 'lname': 'Yaa', 'Gender': 'Female', 'age': '29', 'Mstatus': 'Married', 'Skills': 'Motorbike', 'country': 'Kenya', 'City': 'Mombasa'}
print(student)

{'name': 'Winnie', 'lname': 'Yaa', 'Gender': 'Female', 'age': '29', 'Mstatus': 'Married', 'Skills': 'Motorbike', 'country': 'Kenya'}

In [56]:
# Delete one of the dictionary items
del student['age']

KeyError: 'age'

In [54]:
# Delete one of the dictionaries
student.clear()

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>